ApertureService/Web References/ApertureCrap/ApScriptingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExecuteCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commandName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inParams" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteCommandResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteCommandSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteCommand" />
  </wsdl:message>
  <wsdl:message name="ExecuteCommandSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteCommandResponse" />
  </wsdl:message>
  <wsdl:portType name="ApScriptingServiceSoap">
    <wsdl:operation name="ExecuteCommand">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function provides the interface the Scripting Engine</wsdl:documentation>
      <wsdl:input message="tns:ExecuteCommandSoapIn" />
      <wsdl:output message="tns:ExecuteCommandSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApScriptingServiceSoap" type="tns:ApScriptingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteCommand">
      <soap:operation soapAction="http://tempuri.org/ExecuteCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ApScriptingServiceSoap12" type="tns:ApScriptingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteCommand">
      <soap12:operation soapAction="http://tempuri.org/ExecuteCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApScriptingService">
    <wsdl:port name="ApScriptingServiceSoap" binding="tns:ApScriptingServiceSoap">
      <soap:address location="https://www6.cor-asp.ch/ApWebServices/ApScriptingService.asmx" />
    </wsdl:port>
    <wsdl:port name="ApScriptingServiceSoap12" binding="tns:ApScriptingServiceSoap12">
      <soap12:address location="https://www6.cor-asp.ch/ApWebServices/ApScriptingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>